<div class="container mat-elevation-z8">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-table
    #table
    [dataSource]="dataSource"
    (scroll)="onTableScroll($event)"
    *ngIf="!isLoading"
  >
    <mat-header-row
      *matHeaderRowDef="
        displayedColumns.concat(['detailsButton']);
        sticky: true
      "
    ></mat-header-row>
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef> {{ col }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element[col] }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detailsButton">
      <mat-header-cell *matHeaderCellDef class="details-button">
        {{ btnText }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="details-button">
        <button mat-raised-button color="accent" (click)="viewDetails(row)">
          {{ btnText }}
        </button>
      </mat-cell>
    </ng-container>
    <mat-row
      *matRowDef="
        let row;
        columns: displayedColumns.concat(['detailsButton']);
        let i = index
      "
    ></mat-row>
  </mat-table>
</div>
